.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.elipse-wrapper {
  position: absolute;
  width: 410.88px;
  height: 476.16px;
  left: -75.52px;
  top: -9.6px;

  /* ellipse 1 */

  background-color: #b6dfff;
  filter: blur(128px);
}
