.container {
  min-width: 320px;
  margin: 0px auto;
  padding: 0px 20px;
}

.header-hero-wrapper {
  // width: 100%;
  // background: url(../images/mobile/Ellipse1.png);
  // background-size: cover;

  background: linear-gradient(147deg, white 5%, #b6dfff 60%, #feffd6, #f3f573, white);
}
