.container {
  min-width: 320px;
  margin: 0px auto;
  padding: 0px 20px;
}

body {
  background: linear-gradient(
    165deg,
    white,
    #b6dfff,
    #feffd6,
    #f3f573,
    #feffd6,
    white,
    #b6dfff,
    #feffd6,
    #f3f573,
    #feffd6,
    white,
    #b6dfff,
    #feffd6,
    #f3f573,
    #feffd6,
    white,
    #b6dfff,
    #feffd6,
    #f3f573,
    #feffd6,
    white,
    #b6dfff,
    #feffd6,
    #f3f573,
    #feffd6,
    white
  );
}
