.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 9.984px;
    line-height: 14px;
  }
}

.telegram-wrapper {
  display: flex;
  width: 85px;

  @media screen and (min-width: 768px) {
    width: 125px;
    align-items: center;
  }
}

.telegram-wrapper__title {
  margin-left: 6px;
  @media screen and (min-width: 768px) {
    font-size: 9.984px;
    line-height: 14px;

    margin-left: 1.6px;
  }
}

.telegram-wrapper__pretitle {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    margin-left: 8.5px;
  }
}

.header__contacts-wrapper {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    width: 138px;
    display: flex;
    justify-content: space-between;
  }
}
