.header__container {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
}

.telegram-wrapper {
  display: flex;
  width: 85px;
}

.telegram-wrapper__title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin-left: 6px;
  color: #000000;
}
